<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seminarUrl</key>
	<string>http://app.swdec.de/paxan/seminar</string>
	<key>speakerUrl</key>
	<string>http://app.swdec.de/paxan/speaker</string>
	<key>lexikonUrl</key>
	<string>http://app.swdec.de/paxan/lexikon</string>
	<key>firstPageTitle</key>
	<string>Willkommen in der paXan App!</string>
	<key>firstPageSubtitle</key>
	<string>Cool, dass du da bist! Im Namen des SWDEC heißen wir dich herzlich Willkommen zu paXan 2020!</string>
	<key>secondPageTitle</key>
	<string>Deine paXan App</string>
	<key>secondPageSubtitle</key>
	<string>Damit wir dich in der App etwas persönlicher ansprechen können, gib bitte im unteren Textfeld deinen Vornamen ein. Den speichern wir natürlich nur auf deinem Gerät. 😉</string>
	<key>secondPageTextFieldPlaceholder</key>
	<string>Name</string>
	<key>setupContinueButtonTitle</key>
	<string>Weiter</string>
	<key>thirdPageTitle</key>
	<string>Deine paXan Seminare</string>
	<key>thirdPageSubtitle</key>
	<string>Trage hier unten bitte deine Seminare ein, für die du dich online angemeldet hast. Keine Angst, falls du etwas falsch machst, kannst du es später natürlich nocheinmal ändern.</string>
	<key>thirdPageTextFieldPlaceholderOne</key>
	<string>Seminar 1</string>
	<key>thirdPageTextFieldPlaceholderTwo</key>
	<string>Seminar 2</string>
	<key>thirdPageTextFieldPlaceholderThree</key>
	<string>Seminar 3</string>
	<key>fourthPageTitle</key>
	<string>Und jetzt...
Viel Spaß bei paXan!</string>
	<key>fourthPageSubtitle</key>
	<string>In der App findest du alles, was du früher in deinem Kongressheft gefunden hast.</string>
	<key>setupFinishButtonTitle</key>
	<string>Fertig</string>
	<key>heimwehTitle</key>
	<string>#heimweh</string>
	<key>thursdayCaptionLabel</key>
	<string>Donnerstag, 09. April 2020
#heimatkunde</string>
	<key>thursdayEventLabel</key>
	<string>19:30 Uhr paX an Start - Bibel Session
mit Joachim Böker
22:00 Uhr Darum feiern</string>
	<key>fridayCaptionLabel</key>
	<string>Freitag, 10. April 2020
#heimatlos</string>
	<key>fridayEventLabelOne</key>
	<string>09:30 Uhr Praxis Session / CoffeeTime
11:30 Uhr Bibel Session mit Klaus Göttler
15:00 Uhr Seminare I</string>
	<key>fridayEventLabelTwo</key>
	<string>16:30 Uhr Seminare II</string>
	<key>fridayEventLabelThree</key>
	<string>19:30 Uhr Das Kreuz</string>
	<key>saturdayCaptionLabel</key>
	<string>Samstag, 11. April 2020
#heimweh</string>
	<key>saturdayEventOneLabel</key>
	<string>09:30 Uhr Bibel Session mit Joachim Böker
11:30 Uhr Dennoch feiern
14:00 Uhr Praxis Session / CoffeeTime
16:30 Uhr Seminare III</string>
	<key>saturdayEventTwoLabel</key>
	<string>19:30 Uhr Danke</string>
	<key>donationURL</key>
	<string>https://swdec.de/spenden/</string>
</dict>
</plist>
